.Header_background_img{width: 100%;}
.we_are{font-size: 75px;text-align: center; margin: 0px;background-image:url(/img/Index/download\ \(2\).jpg); color: aliceblue;}
.voorwoord_section_1{font-size: larger; color:greenyellow; margin-left: 20px;}