body{margin: 0; background-color: dimgray;
min-height: 100dvh;
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: minmax(0,1fr);
}
html{height: 100%;}
.Burger_menu_img{height: 40px;margin: 2.5px 0px 0px 2.5px;}
.Key_studios_nav_logo{height: 50px;}
.nav_button{border: 0px; padding: 0px 3px 0px 0px; background-color: black;}
.nav_button:hover{background-color: darkgray;}
.top_nav_text{font-size: 40px; margin: 0;}
.Top_nav_container{display: flex; justify-content: space-between; background-color: black; color: aliceblue;}
.FooterDiv{background-color: black;color: aliceblue; display: flex; justify-content: space-between; bottom: 0px;}
.footer_Logos{width: 40px; height: 40px;}
.footer_Logos1{height: 20px; margin: 10px 3px 0px 0px;}
.footer_text{margin: 13px 0px 9px 0px;}
.Text_div_001{display: flex;}
